<!-- ! yazıp enter yapınca hepsi geliyo --> 

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{
        
        color: #e619d4;
        text-align: center;
        }
        body{
        background: #19e0e0;
        }
        h2.renkli{
            color:green;
        }
        .yan-yana{
            display: flex;
        }
        .yan-yana a img{
            margin-right: 80px;
        }
    </style>
</head>
<body>
    <h1>baslik</h1>

    <p>paragraf <strong>aaaa</strong> <em>bbbbb</em></p>
    <p>m <sub>2</sub> , n <sup>3</sup></p>

    <h2 class= 'renkli'>link</h2>
    <a href="https://classroom.google.com/u/0/w/Njg5OTA2MTk5MjEy/t/all" target="_blank">classroom link</a>

    <h2>Resimli Link</h2>
    

    <div class='yan-yana'>
        <a href="https://www.karar.com/yazarlar/zafer-acar" target='_blank'>
            <img src="https://cdn.karar.com/author/75_b.jpg"  title='Zafer Acar' alt="resim">
        </a>

        <h2>Sirasiz Liste Ornegi</h2>
        <ul>
            <li>Liste Ornegi 1</li>
            <li>Liste Ornegi 2</li>
            <li>Liste Ornegi 3</li>
        </ul>

        <h2>Sirali Liste Ornegi</h2>
        <ol>
            <li>Liste Ornegi 1</li>
            <li>Liste Ornegi 2</li>
            <li>Liste Ornegi 3</li>
        </ol>
    </div>
    

</body>
</html>